<div class="authincation mt-5">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="index.html"><img src="./assets/images/logo-full.png" alt=""></a>
                                </div>
                                <h4 class="text-center mb-4 text-white">Reset Password</h4>
                                <div class="alert alert-danger solid alert-dismissible fade show" *ngIf="errorMsg">
                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                    </button>
                                    <strong>Error!</strong> {{ errorMsg }}
                                </div>
                                <div class="alert alert-success solid alert-dismissible fade show" *ngIf="successMsg">
                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                    </button>
                                    <strong>Success!</strong> {{ successMsg }}
                                </div>

                                <form action="" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label class="mb-1 text-white"><strong>Password</strong></label>
                                        <input type="password" class="form-control" formControlName="password" value="Password">
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="mb-1 text-white"><strong>Confirm Password</strong></label>
                                        <input type="password" class="form-control" formControlName="confirmPassword" value="Password">
                                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                                          </div>
                                    </div>
                                  
                                   
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-white text-primary btn-block">Reset</button>
                                    </div>
                                </form>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>