<div class="deznav" [ngClass]="menuToggleNavheader ? 'deznav-active' : ''">
    <div class="deznav-scroll mm-active ps">
        <ul class="metismenu mm-show" id="menu">
            <li [ngClass]="dashboard ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'dashboard')" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Dashboard</span>
                </a>
            </li>
            <!--li [ngClass]="dashboard ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'dashboard')" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Dashboard</span>
                    <span *ngIf="!menuToggleNavheader">
                    <img src="assets/images/down-arrow.png" *ngIf="dashboard" class="downarrow" />
                    <img src="assets/images/right-arrow.png" *ngIf="!dashboard" class="downarrow" />
                    </span>
                </a>
                <span *ngIf="!menuToggleNavheader">
                <ul aria-expanded="false" class="mm-collapse" *ngIf="!dashboard">
                    <li class="mm-active"><a href="index.html" class="mm-active">Dashboard</a></li>
                    <li><a href="workout-statistic.html">Workout Statistic</a></li>
                    <li><a href="workoutplan.html">Workout Plan</a></li>
                    <li><a href="distance-map.html">Distance Map</a></li>
                    <li><a href="food-menu.html">Diet Food Menu</a></li>
                    <li><a href="personal-record.html">Personal Record</a></li>
                </ul>
                </span>
                <div class="hovermenuchecklist hide" *ngIf="menuToggleNavheader">
                    <ul class="hovermenulist">
                        <li><a href="index.html" class="mm-active">Dashboard 1</a></li>
                        <li><a href="workout-statistic.html">Workout Statistic</a></li>
                        <li><a href="workoutplan.html">Workout Plan</a></li>
                        <li><a href="distance-map.html">Distance Map</a></li>
                        <li><a href="food-menu.html">Diet Food Menu</a></li>
                        <li><a href="personal-record.html">Personal Record</a></li>
                    </ul>
                </div>
            </li-->
            <li [ngClass]="tradegroups ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'tradegroups')" aria-expanded="false">
                    <i class="flaticon-381-app"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Trade Groups</span>
                </a>
            </li>
            <li [ngClass]="kycdata ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'kycdata')" aria-expanded="false">
                    <i class="flaticon-381-list-1"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">KYC Data</span>
                </a>
            </li>
            <li [ngClass]="users ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'users')" aria-expanded="false">
                    <i class="flaticon-381-user-9"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Users</span>
                </a>
            </li>
            <li [ngClass]="analytics ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'analytics')" aria-expanded="false">
                    <i class="flaticon-381-diploma"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Analytics</span>
                </a>
            </li>
            <li [ngClass]="notifications ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'notifications')" aria-expanded="false">
                    <i class="flaticon-381-notepad-1"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Notifications</span>
                </a>
            </li>
            <li [ngClass]="chatsupport ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'chatsupport')" aria-expanded="false">
                    <i class="flaticon-381-user-8"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Chat Support</span>
                </a>
            </li>
            <li [ngClass]="settings ? 'mm-active' : ''">
                <a href="javascript:void(0)" class="ai-icon" (click)="menuStatus($event, 'settings')" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text" *ngIf="!menuToggleNavheader">Settings</span>
                </a>
            </li>

            <!--li class="" [ngClass]="dashboard ? 'mm-active' : ''">
                <a class="has-arrow ai-icon" (click)="menuStatus($event, 'dashboard')"
                href="javascript:void(0)" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Trade Groups</span>
                </a>
                <ul aria-expanded="false" class="mm-collapse" *ngIf="dashboard">
                    <li class="mm-active"><a href="index.html" class="mm-active">Dashboard</a></li>
                    <li><a href="workout-statistic.html">Workout Statistic</a></li>
                    <li><a href="workoutplan.html">Workout Plan</a></li>
                    <li><a href="distance-map.html">Distance Map</a></li>
                    <li><a href="food-menu.html">Diet Food Menu</a></li>
                    <li><a href="personal-record.html">Personal Record</a></li>
                </ul>
            </li-->




        </ul>
        <!--div class="add-menu-sidebar">
            <img src="./assets/images/calendar.png" alt="" class="mr-3">
            <p class="	font-w500 mb-0">Create Workout Plan Now</p>
        </div-->
        <!--div class="copyright">
            <p><strong></strong> © 2021 All Rights Reserved</p>
        </div-->
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
    </div>
</div>