.header {
    // width: 100%;
    height: 7.5rem;
    z-index: 1;
    position: relative;
    padding: 0rem;
  
    z-index: 4;
    // box-shadow: 0 0 1rem $l-border;
    padding-left: 21.563rem;
    transition: all .2s ease;
   
    }
    .header-content {
        height: 100%;
        padding-left: 5.3125rem;
        padding-right: 2.4rem;
        align-items: center;
        display: flex;
    }